body {
  background-color: #d1d5e2;
}
.content {
  max-width: 90%;
  /* height: 90vh; */
  margin: 20px auto;
}

input[type="text"] {
  background-color: #d1d5e2;
  width: 300px !important;
}

.show img {
  transform: scaleY(1.3);
  width: 200px;
}
.data {
  text-align: justify;
  white-space: wrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}
.show {
  height: 225px;
  max-width: 900px;
  background-color: #d1d5e2;
  position: relative;
}

.show div {
  max-width: 500px !important;
}
